apiVersion: flink.apache.org/v1beta1
kind: FlinkDeployment
metadata:
  name: flink-cluster-20
  namespace: flink
spec:
  image: flink:2.0.1-java17
  flinkVersion: v2_0
  flinkConfiguration:

    web.cancel.enable: 'true'
    web.submit.enable: "true"

    classloader.parent-first-patterns.defaults: 'java.;scala.;org.apache.flink.;org.apache.kafka.;org.apache.hadoop.;software.amazon.;org.apache.iceberg.;org.apache.parquet.'

  serviceAccount: flink-sa
  jobManager:
    replicas: 1
    resource:
      memory: 4G
      cpu: 2
  taskManager:
    replicas: 1
    resource:
      memory: 8G
      cpu: 3
  podTemplate:
    spec:
      initContainers:
        - name: python-init
          image: python:3.10.12-slim
          command:
            - /bin/sh
            - -c
            - |
              pip3 install apache-flink==2.0.1

              mkdir -p /python/link/bin
              mkdir -p /python/link/lib

              cp -r /usr/local/bin/* /python/link/bin/
              cp -r /usr/local/lib/* /python/link/lib/

          volumeMounts:
            - name: flink-python-bin-volume
              mountPath: /python/link/bin
            - name: flink-python-lib-volume
              mountPath: /python/link/lib
        - name: flink-lib-init
          image: flink:2.0.1-java17
          command:
            - /bin/sh
            - -c
            - |
              cp -r /opt/flink/lib/* /flink-libs
              rm -rf /flink-libs/flink-shaded-hadoop-2-uber*
              cp -r /opt/flink/plugins/* /flink-plugins

              cp -r /usr/local/bin/* /python/link/bin
          volumeMounts:
            - name: flink-lib-volume
              mountPath: /flink-libs
            - name: flink-plugin-volume
              mountPath: /flink-plugins
            - name: flink-python-bin-volume
              mountPath: /python/link/bin
            - name: flink-python-lib-volume
              mountPath: /python/link/lib
        - name: dependency-downloader
          image: apache/hadoop:3.3.5  # alpine:3.18
          command:
            - /bin/sh
            - -c
            - |

              cp -r /opt/hadoop/* /hadoop

              cd /flink-libs
              
              # JDBC 접근 세팅
              wget https://repo1.maven.org/maven2/org/apache/flink/flink-connector-jdbc-core/4.0.0-2.0/flink-connector-jdbc-core-4.0.0-2.0.jar
              wget https://repo1.maven.org/maven2/org/apache/flink/flink-connector-jdbc-mysql/4.0.0-2.0/flink-connector-jdbc-mysql-4.0.0-2.0.jar
              
              wget https://repo.maven.apache.org/maven2/mysql/mysql-connector-java/8.0.11/mysql-connector-java-8.0.11.jar
              
              wget -P /flink-usrlib https://repo.maven.apache.org/maven2/mysql/mysql-connector-java/8.0.11/mysql-connector-java-8.0.11.jar
              
              mkdir -p /flink-plugins/jdbc
              wget -P /flink-plugins/jdbc https://repo.maven.apache.org/maven2/mysql/mysql-connector-java/8.0.11/mysql-connector-java-8.0.11.jar
              
              # 카프카 세팅
              wget https://repo1.maven.org/maven2/org/apache/flink/flink-sql-connector-kafka/4.0.0-2.0/flink-sql-connector-kafka-4.0.0-2.0.jar
              wget https://repo1.maven.org/maven2/org/apache/kafka/kafka-clients/3.3.0/kafka-clients-3.3.0.jar
              wget https://repo1.maven.org/maven2/org/apache/flink/flink-avro/2.0.1/flink-avro-2.0.1.jar
              wget https://repo1.maven.org/maven2/org/apache/flink/flink-avro-confluent-registry/2.0.1/flink-avro-confluent-registry-2.0.1.jar
              wget https://packages.confluent.io/maven/io/confluent/kafka-schema-registry-client/7.0.16/kafka-schema-registry-client-7.0.16.jar
              wget https://repo1.maven.org/maven2/org/apache/avro/avro/1.10.2/avro-1.10.2.jar
              wget https://repo1.maven.org/maven2/com/fasterxml/jackson/core/jackson-databind/2.13.5/jackson-databind-2.13.5.jar
              wget https://repo1.maven.org/maven2/com/fasterxml/jackson/core/jackson-core/2.13.5/jackson-core-2.13.5.jar
              wget https://repo1.maven.org/maven2/com/fasterxml/jackson/core/jackson-annotations/2.13.5/jackson-annotations-2.13.5.jar

              # hadoop 3.3.5 세팅
              cp /hadoop/share/hadoop/common/hadoop-common-3.3.5.jar /flink-libs
              cp /hadoop/share/hadoop/common/lib/commons-configuration2-2.8.0.jar /flink-libs
              cp /hadoop/share/hadoop/common/lib/stax2-api-4.2.1.jar /flink-libs
              cp /hadoop/share/hadoop/common/lib/commons-logging-1.1.3.jar /flink-libs
              cp /hadoop/share/hadoop/common/lib/hadoop-shaded-guava-1.1.1.jar /flink-libs
              cp /hadoop/share/hadoop/common/lib/hadoop-auth-3.3.5.jar /flink-libs
              cp /hadoop/share/hadoop/common/lib/woodstox-core-5.4.0.jar /flink-libs
              cp /hadoop/share/hadoop/hdfs/hadoop-hdfs-client-3.3.5.jar /flink-libs
              cp /hadoop/share/hadoop/mapreduce/hadoop-mapreduce-client-core-3.3.5.jar /flink-libs
              wget https://repo1.maven.org/maven2/org/apache/hadoop/hadoop-aws/3.3.5/hadoop-aws-3.3.5.jar

          volumeMounts:
            - name: flink-lib-volume
              mountPath: /flink-libs
            - name: flink-plugin-volume
              mountPath: /flink-plugins
            - name: flink-usrlib-volume
              mountPath: /flink-usrlib
            - name: hadoop
              mountPath: /hadoop
      containers:
        - name: flink-main-container
          env:
            - name: TZ
              value: Asia/Seoul
            - name: FLINK_ENV_JAVA_OPTS
              value: "-Djdbc.drivers=com.mysql.cj.jdbc.Driver"
            - name: HADOOP_HOME
              value: /hadoop
            - name: HADOOP_CLASSPATH
              value: /hadoop/etc/hadoop:/hadoop/share/hadoop/common/lib/*:/hadoop/share/hadoop/common/*:/hadoop/share/hadoop/hdfs:/hadoop/share/hadoop/hdfs/lib/*:/hadoop/share/hadoop/hdfs/*:/hadoop/share/hadoop/mapreduce/*:/hadoop/share/hadoop/yarn:/hadoop/share/hadoop/yarn/lib/*:/hadoop/share/hadoop/yarn/*
          volumeMounts:
            - name: hadoop
              mountPath: /hadoop
            - name: flink-python-bin-volume
              mountPath: /usr/local/bin
            - name: flink-python-lib-volume
              mountPath: /usr/local/lib
            - name: flink-lib-volume
              mountPath: /opt/flink/lib
            - name: flink-plugin-volume
              mountPath: /opt/flink/plugins
            - name: flink-usrlib-volume
              mountPath: /opt/flink/usrlib
      volumes:
        - name: flink-lib-volume
          emptyDir: { }
        - name: hadoop
          emptyDir: { }
        - name: flink-plugin-volume
          emptyDir: { }
        - name: flink-python-bin-volume
          emptyDir: { }
        - name: flink-python-lib-volume
          emptyDir: { }
        - name: flink-usrlib-volume
          emptyDir: { }
  mode: standalone

